body {
    display: grid;
    grid-column-start: auto;

}

super-header {
    background-color: white;
  
   

}

super-sidebar {
  
   
   
  
}

post-list {
    position: sticky;
    top: 150px;
   
   

}